@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Montserrat', 'DejaVu Sans', Verdana, sans-serif !important;
	font-size: 15px;
	--color-primary: #fca867;
	--color-secondary: #fc5855;
	--color-accent: #9661ed;
	--color-neutral: #1D1821;
	--color-base-100: #FFFFFF;
	--color-info: #7BB1EA;
	--color-success: #0F7046;
	--color-warning: #96660D;
	--color-error: #E85A4A;
}

body {
	background-color: var(--color-base-100);
}

::placeholder {
	color: rgba(0, 0, 0, 0.2) !important;
	font-weight: 500;
}

::selection {
	background: var(--color-primary);
}
